22-23/S1/node-red/flow_data_receiver.json
[
    {
        "id": "28ce83765b4a4deb",
        "type": "tab",
        "label": "Flow - Display Data",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0b5ebd773dbb9152",
        "type": "mysql",
        "z": "28ce83765b4a4deb",
        "mydb": "d18fd53d04b9d41a",
        "name": "Verison-1",
        "x": 1020,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "fd2b726671ac8213",
        "type": "comment",
        "z": "28ce83765b4a4deb",
        "name": "Live Data",
        "info": "This button is used to grab the live feed (10 most recent entries) and display on dashboard\nIn reality it wont be a button but a delay of 1 sec",
        "x": 680,
        "y": 140,
        "wires": []
    },
    {
        "id": "512fc1976ab6b731",
        "type": "ui_text",
        "z": "28ce83765b4a4deb",
        "group": "cb84da6001da9bbe",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Live text",
        "label": "Live:",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 1380,
        "y": 180,
        "wires": []
    },
    {
        "id": "66a647a991467759",
        "type": "ui_switch",
        "z": "28ce83765b4a4deb",
        "name": "",
        "label": "wheelSpeed1",
        "tooltip": "",
        "group": "f51f8dc65510d76c",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "wheelSpeed1",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 200,
        "y": 240,
        "wires": [
            [
                "a63ad29d430e4825"
            ]
        ]
    },
    {
        "id": "bea3d12bb089bc3e",
        "type": "ui_switch",
        "z": "28ce83765b4a4deb",
        "name": "",
        "label": "wheelSpeed2",
        "tooltip": "",
        "group": "f51f8dc65510d76c",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "wheelSpeed2",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 200,
        "y": 280,
        "wires": [
            [
                "a63ad29d430e4825"
            ]
        ]
    },
    {
        "id": "7f46ebe349f683a3",
        "type": "ui_switch",
        "z": "28ce83765b4a4deb",
        "name": "",
        "label": "wheelSpeed3",
        "tooltip": "",
        "group": "f51f8dc65510d76c",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "wheelSpeed3",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 200,
        "y": 320,
        "wires": [
            [
                "a63ad29d430e4825"
            ]
        ]
    },
    {
        "id": "ca6fd68e88264082",
        "type": "ui_switch",
        "z": "28ce83765b4a4deb",
        "name": "",
        "label": "wheelSpeed4",
        "tooltip": "",
        "group": "f51f8dc65510d76c",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "wheelSpeed4",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 200,
        "y": 360,
        "wires": [
            [
                "a63ad29d430e4825"
            ]
        ]
    },
    {
        "id": "820b0e5b50ce262d",
        "type": "ui_button",
        "z": "28ce83765b4a4deb",
        "name": "Wheel speed",
        "group": "f51f8dc65510d76c",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "wheelButton",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "wheelSpeed",
        "payloadType": "str",
        "topic": "button",
        "topicType": "msg",
        "x": 110,
        "y": 200,
        "wires": [
            [
                "a63ad29d430e4825"
            ]
        ]
    },
    {
        "id": "a63ad29d430e4825",
        "type": "function",
        "z": "28ce83765b4a4deb",
        "name": "Button Display",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "7aeafdae939fd04a",
        "type": "function",
        "z": "28ce83765b4a4deb",
        "name": "Data Retrieve Function",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "6abd206a2bfc9a42",
        "type": "debug",
        "z": "28ce83765b4a4deb",
        "name": "MySQL data",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1390,
        "y": 300,
        "wires": []
    },
    {
        "id": "25fec40b4fbb8742",
        "type": "ui_table",
        "z": "28ce83765b4a4deb",
        "group": "fe9ac9b5f6fbd91d",
        "name": "Recent Data",
        "order": 2,
        "width": "3",
        "height": "10",
        "columns": [],
        "outputs": 0,
        "cts": false,
        "x": 1390,
        "y": 220,
        "wires": []
    },
    {
        "id": "872dcecdc020c95e",
        "type": "ui_chart",
        "z": "28ce83765b4a4deb",
        "name": "Live Feed",
        "group": "4a8a4666a1b48caf",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Live Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Waiting...",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#56f137",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1380,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "9acecbcc3a993263",
        "type": "function",
        "z": "28ce83765b4a4deb",
        "name": "convertChart",
        "func": "var x;\nvar y;\n\nvar allData = msg.payload; // data incoming from MySQL\nvar data = []; //data sent to chart\n\nfor (let index = 0; index < allData.length; index++) {\n\n    const object = allData[index]; //{ p_Id: 5, Atime: 6, Speed: 7 };\n    const picked = (({ Atime, Speed }) => ({ Atime, Speed }))(object);\n    data[index] = picked;\n    //console.log(picked);  { a: 5, c: 7 }\n      \n}\nfor (let index = 0; index < data.length; index++) {\n    \n    const str = data[index].Atime;\n    const date = new Date(str);\n\n    const timestamp = date.getTime();\n    data[index].Atime = timestamp;\n    \n} \n\ndata = data.map(({Atime: x, Speed: y}) => ({x, y}));\n/*const newData = data.map(item =>\n    ({ x: item.name, y: item.title })\n);*/\n\n msg.payload = [{\n    \"series\": [\"A\", \"B\", \"C\"],\n    \"data\": [data],\n    \"labels\": [\"room1\", \"room2\", \"room3\"]\n}] \n \nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1210,
        "y": 280,
        "wires": [
            [
                "872dcecdc020c95e",
                "6abd206a2bfc9a42"
            ]
        ]
    },
    {
        "id": "d18fd53d04b9d41a",
        "type": "MySQLdatabase",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "project-version-1",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "cb84da6001da9bbe",
        "type": "ui_group",
        "name": "Value",
        "tab": "96c7cdc64ffa9d1d",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f51f8dc65510d76c",
        "type": "ui_group",
        "name": "Buttons",
        "tab": "96c7cdc64ffa9d1d",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "fe9ac9b5f6fbd91d",
        "type": "ui_group",
        "name": "Table",
        "tab": "96c7cdc64ffa9d1d",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4a8a4666a1b48caf",
        "type": "ui_group",
        "name": "Chart",
        "tab": "96c7cdc64ffa9d1d",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "96c7cdc64ffa9d1d",
        "type": "ui_tab",
        "name": "Live Data",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]